/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}


/* ===== Notre CSS ===== */

#logo{

	float:left;
	margin-right:10px;
	
	height:30px;
}

.drapeau{
	max-height: 40px;
	max-width: 60px;
}

.drapeau-texte{
	height: 20px;
	width: 40px;
}

/* Barre de tri pour le tableau */
.container-infotab{

	margin-bottom:2px;
}

.container-sort{
	width:255px;
}

.container-auth{

	margin-bottom:30px;
}

.bouton-actualiser{

	margin-right: 2px;
}

.bouton-sort{

	width:175px;
}

.bouton-ePages{

	min-width:45px;
	display:inline-block;
}

.texte-sort{

	min-width:130px;
	display:inline-block;
}

.ligne-filtres{

	margin-bottom:2px;
}

.bouton-ajouter-reduit{

	margin-right:2px;
}

/* Tableau */
.bordure-droite{

	border-right:1px solid #ddd;
}

.box-selection{

	cursor: pointer;
}

/* Chargement */
.container-chargement{
	position:relative;
	height: 80px;
	margin-bottom:30px;
}

/* Centrer les éléments verticalement dans le tableau (Override la règle de Bootstrap) */
.table tbody>tr>td.vert-align{
    vertical-align: middle;
}

/* Design des modals */
.modal-header{

	min-height: 50px;
}

.modal-header-danger{

	 background-color: #d2322d;
}

.modal-header-primary{

	background-color: #428bca;
}

.modal-header-sucess{

	background-color: #5cb85c;
}

.modal-header-danger h3, .modal-header-primary h3, .modal-header-sucess h3{

	color:#ffffff;
}

div.centrer-cal *{

	margin:0 auto;
}

.msg-erreur{

	color:red;
}

.margin-bottom-fix{

	margin-bottom:0px;
}

.image-portrait{

	width:50%;
	height:75%;
}

/* Gestion de la liste des pays */
.container-liste-pays{

	margin:5px;
	height:120px;
}

.liste-pays{

	overflow-x:scroll;
    overflow-y:hidden;
    white-space:nowrap;
    padding-bottom:2px;
    padding-left:0px;
    margin-top:5px;
}

.elem-liste-pays{

	display:inline-block;
	margin-left:5px;
	padding:0px;
	cursor: pointer;
}

.elem-liste-pays:first-child{

	margin-left:0px !important;
	padding-left: 0px;
}

.nom-liste-pays-selected{

	background-color: #4cae4c !important;	
}

.nom-liste-pays{

	text-align:center;
	color:#fff;
	
	background-color: #428bca;
	
	border-radius:3px 3px 0px 0px;
	
	border-top-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	
	border-color:#000;
	border-width: 1px;
	
	padding:0px 3px 0px 3px;
	
	transition-duration: 0.1s;
}

.container-img-liste-pays{

	border-bottom-style:solid;
	border-left-style:solid;
	border-right-style:solid;
	
	background-color:#eee;
	
	border-color:#000;
	border-width: 1px;
	
	border-radius:0px 0px 3px 3px;
}

.container-rencontre{

	margin-top:10px;
}

.img-liste-pays{

	display:inline;
	margin: 5px;
}

.bordure-image{

	border:1px solid black;
}

/* Design pour les tirages */
.bouton-actualiser-tirage{

	margin-top:10px;
	margin-bottom:5px;
}

/* Gestion des animations */
.anim-alerte.ng-enter, .anim-alerte.ng-move,
.anim-entrees-tab.ng-enter, .anim-entrees-tab.ng-move {

	-webkit-animation: animEntree 1s linear;
	animation: animEntree 1s linear;
}

.anim-alerte.ng-leave{

	-webkit-animation: animSortie 1s linear;
	animation: animSortie 1s linear;
}

@-webkit-keyframes animEntree {
    from {
        padding:0;
		height:0;
		width:0;
		opacity:0;
    }
    to {
        padding:auto;
		height:100%;
		width:100%;
		opacity:1;
    }
}

@keyframes animEntree {
   from {
        padding:0;
		height:0;
		width:0;
		opacity:0;
    }
    to {
        padding:auto;
		height:100%;
		width:100%;
		opacity:1;
    }
}

@-webkit-keyframes animSortie{
   	from {
        padding:auto;
		height:100%;
		width:100%;
		opacity:1;
    }
    to {
    	padding:0;
		height:0;
		width:0;
		opacity:0;
    }
}

@keyframes animSortie{
    from {
        padding:auto;
		height:100%;
		width:100%;
		opacity:1;
    }
    to {
    	padding:0;
    	margin:0;
		height:0px;
		width:0;
		opacity:0;
    }
}

/* Gestion des alertes */

.conteneur-alertes{

	position:fixed;
	
	top:10px;
	right:0px;
	left:0px;
	
	margin:0 auto;
	
	width:99%;
	
	z-index:1001;
}

.design-alertes{

	position:relative;
	
	white-space: nowrap;
	overflow: hidden;
	
	cursor: pointer;
}

/* Désign pour le tirage */
.drapeau-tirage{

	display:block;
	
	width:50px;
	height:30px;
	
	margin:4px auto;
}

.drapeaux-drop{

	width:80px;
	height:366px;
	
	background-color:#eee;
	
	margin:0 auto;
	
	padding-top:5px;
	
	border:1px solid #ccc;
	border-radius:5px 5px 5px 5px;
}

.emplacement-tirage, .emplacement-drop{
	
	border:1px solid #555;
	border-radius:3px 3px 3px 3px;
	
	margin:0 auto;
	margin-bottom:5px;
}

.emplacement-tirage{

	height:40px;
	width:65px;
	
	background-color:#bbb;
	
	margin:4px auto;
}

.emplacement-drop{

	height:50px;
	width:75px;
	
	background-color:#eee;
}

.emplacement-tirage-rempli{

	z-index:100;
	cursor: pointer;
}

.container-rencontre{

	display:inline-block;
	margin-right:-4px;
}

.ligne-rencontre{

	display:inline-block;
	 
	border-top:1px solid black;
	border-bottom:1px solid black;
	border-right:1px solid black;
}

.ligne-rencontre-1{

	height:56px;
	width:55px;
	
	margin-bottom:28px;
}

.ligne-rencontre-2{

	height:128px;
	width:55px;
	
	margin-bottom:55px;
}

.ligne-rencontre-3{

	height:260px;
	width:55px;
	
	margin-bottom:120px;
}

.ligne-finale{

	display:inline-block;
	width:55px;
	border-bottom:1px solid black;
	margin-bottom:250px;
}

/* Design pour les matchs */
.bouton-complet{

	width:100%;
}

.bouton-select-tour{

	min-width:100px;
	display:inline-block;
}

.top-space{

	margin-top:10px;
}

.table > tbody > tr > td.vcenter {

	vertical-align: middle;
}

.panel-title > a, .panel-title{

	outline:none;
}

.btn:hover, .btn:active, .btn:focus, .nav-pills > li > a:focus{

	outline-style:none;
}

#container-principal{

	min-height:1000px;
}

/* Design animation de chargement */
#loader, #loader:before, #loader:after{

	border: 3px solid transparent;
	border-radius: 50%;
}

.loader-wrapper-full{

	position: fixed;
    top: 0;
    left: 0;
}

.anim-loader.ng-leave{

	-webkit-animation: sortieChargement 0.5s linear;
	animation: sortieChargement 0.5s linear;
}

#loader-wrapper {

    width: 100%;
    height: 100%;
    z-index: 1000;
    
    background-color:rgba(255, 255, 255, 0.9);
    
    background-image:url(../images/logo.png);
    background-repeat: no-repeat;
    background-size: 30px auto;
    background-position: center;
}

#loader {

	display: block;
	position: relative;
	left: 50%;
	top: 50%;
	width: 150px;
	height: 150px;
	margin: 0 0 0 -75px;

    border-top-color: #f9ec22;
    
	z-index: 1500;
	
	-webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

div#loader.loader-full{

	margin: -75px 0 0 -75px;
}

#loader:before {

    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    
    border-top-color: #f9c922;
    
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {

    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    
    border-top-color: #f9a422;
    
	-webkit-animation: spin 1.5s linear infinite;
	animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes sortieChargement {
   from {
        opacity:0.9;
    }
    to {
        opacity:0;
    }
}

@-webkit-keyframes sortieChargement{
   	from {
        opacity:0.9;
    }
    to {
    	opacity:0;
    }
}
/* Écrasement des propriétés de Bootstrap */
/*
.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus{

	background-color:#ffb94d;
	color:#fff776;
}

.nav > li > a:hover, .nav > li > a:focus{

    background-color: #ffe076;
    color:#d08005;
}

.table-striped > tbody > tr:nth-of-type(2n+1){

	background-color: #ffeca8;
}

.table-striped > tbody > tr{

	background-color: #fffaa8;
}

.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {

	border-top: 1px solid #e3a648;
}

a{
	color:#d08005;
}
*/
