<div class="modal-header modal-header-primary">
	<button class="close" ng-click="cancel()" type="button">×</button>
    <h3 class="modal-title">
    	<span class="glyphicon glyphicon-edit"></span>
    	Éditer une équipe
    </h3>
</div>
<div class="modal-body">
   <form role="form" novalidate>
   
        <div class="form-group">
			<label for="nom" >Équipe :</label>
        	<flag-selector elem-selection="equipe"></flag-selector>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="equipe == null" ng-click="ok()">Editer l'équipe</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
