<div class="modal-header modal-header-primary">
	<button class="close" ng-click="cancel()" type="button">×</button>
    <h3 class="modal-title">
    	<span class="glyphicon glyphicon-edit"></span>
    	Éditer un joueur
    </h3>
</div>
<div class="modal-body">
   <form role="form" name="formulaire" novalidate>
   		<div class="form-group">
			<label for="team">Identifiant :</label> 
			<span>{{joueur.IdPlayer}}</span>
		</div>
        <div class="form-group">
			<label for="nom" >Nom :</label>
        	<input type="text" class="form-control" placeholder="Nom" name="nom" ng-model="joueur.Name" required>
        	<span class="msg-erreur" ng-show="formulaire.nom.$dirty && formulaire.nom.$invalid">Veuillez renseigner le nom du joueur svp</span>
        </div>
      	<div class="form-group">
			<label for="prenom">Prénom :</label>
        	<input type="text" class="form-control" placeholder="Prénom" name="prenom" ng-model="joueur.FirstName" required>
        	<span class="msg-erreur" ng-show="formulaire.prenom.$dirty && formulaire.prenom.$invalid">Veuillez renseigner le prénom du joueur svp</span>
        </div>
        <div class="form-group">
			<label for="sex">Sexe :</label>
		    <select ng-model="joueur.Sex" ng-selected="joueur.Sex" class="form-control" name="sex" placeholder="Sexe" required>
		        <option value="M">Homme</option>
		        <option value="W">Femme</option>
		    </select>
		</div>
        <div class="form-group">
			<label for="team">Équipe :</label>
		    <select ng-model="joueur.Team" class="form-control" name="team" placeholder="Équipe" required>
				<option ng-repeat="equipe in equipes" ng-selected="equipe.NameTeam == joueur.Team" value="{{equipe.NameTeam}}">{{equipe.CompleteName}}</option>
		    </select>
		</div>
		<div class="form-group">
			<label for="classemetIndiv">Classement individuel :</label>
        	<input type="number" class="form-control" placeholder="Classement individuel" name="classemetIndiv" min="1" ng-model="joueur.nationalRankingSingle">
        </div>
        <div class="form-group">
			<label for="classemetDouble">Classement double :</label>
        	<input type="number" class="form-control" placeholder="Classement double" name="classemetDouble" min="1" ng-model="joueur.nationalRankingDouble">
        </div>
		<div class="form-group">
			<label for="photo">Photo :</label>
        	<input name="photo" type="file" file-model="joueur.photo">
        </div>
		<div class="form-group">
			<label for="dnaiss">Date de naissance :</label>
			<datepicker ng-model="joueur.DateBirth" class="centrer-cal" starting-day="1" show-weeks="false" min-date="'1900-01-01'" max-date="today"></datepicker>
		</div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-disabled="formulaire.$invalid" ng-click="ok()">Éditer le joueur</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
