<div class="modal-header">
	<button class="close" ng-click="close()" type="button">×</button>
</div>
<div class="modal-body text-center">
	<img class="image-portrait" ng-src="{{joueur.Url}}" alt="Photo de {{joueur.FirstName}}"/>
</div>
<div class="modal-footer">
	<div class="well text-center margin-bottom-fix">
		Photo du joueur {{joueur.FirstName}} {{joueur.Name}}
	</div>
</div>
