<div class="modal-header modal-header-danger">
	<button class="close" ng-click="cancel()" type="button">×</button>
    <h3 class="modal-title">
		<span class="glyphicon glyphicon-trash"></span>
		Réinitialiser une équipe
    </h3>
</div>
<div class="modal-body">
   <h0>Êtes-vous sûr de vouloir réinitialiser l'équipe : {{donnees.entree.CompleteName}} ? </h0>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Réinitialiser l'équipe</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
