<div class="modal-header modal-header-danger">
	<button class="close" ng-click="cancel()" type="button">×</button>
    <h3 class="modal-title">
		<span class="glyphicon glyphicon-trash"></span>
		Supprimer un joueur
    </h3>
</div>
<div class="modal-body">
   <h0>Êtes-vous sûr de vouloir supprimer le joueur : {{joueur.Name}} {{joueur.FirstName}} ? </h0>
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Supprimer le joueur</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
