<div class="modal-header modal-header-danger">
	<button class="close" ng-click="cancel()" type="button">×</button>
    <h3 class="modal-title">
		Terminer un match
    </h3>
</div>
<div class="modal-body">

	<!-- Choix du gagnant -->
	<div class="form-group">
		<label>Gagnant :</label>
		<div class="btn-group" dropdown>
			<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
				<span class="bouton-select-tour">{{choixGagnant}}</span><span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li ng-repeat="entree in entreesEquipes">
	 				<a href="" ng-click="changerGagnant(entree)">{{entree.nom}}</a>
	 			</li>
			</ul>
		</div>
    </div>
    
    <!-- Choix du score -->
    <table class="table table-bordered">
		<thead>
			<tr>
				<th class="text-center"> Éq.</th>
				<th class="text-center" ng-repeat="set in match.score">Set {{$index+1}}</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td class="vcenter text-center">
					<img class="bordure-image drapeau-texte" ng-src="{{match.UrlTeam_A}}" alt="equipeA"/>
				</td>
				<td ng-repeat="set in match.score">
					<input type="number" class="form-control" ng-model="set.A" name="{{'set'+($index+1)+'A'}}" required>
				</td>
			</tr>
			<tr>
				<td class="vcenter">
					<img class="bordure-image drapeau-texte" ng-src="{{match.UrlTeam_B}}" alt="equipeB"/>
				</td>
				<td ng-repeat="set in match.score">
					<input type="number" class="form-control" ng-model="set.B" name="{{'set'+($index+1)+'B'}}" required>
				</td>
			</tr>
		</tbody>
	</table>
	
    <!-- Choix de la date de fin -->
	<div class="form-group">
		<label>Date de fin :</label>
		<div>
			<datepicker ng-model="match.endDate" class="centrer-cal" starting-day="1" show-weeks="false"></datepicker>
		</div>
    </div>
    <!-- Choix de l'heure de fin -->
    
    <div class="form-group">
		<label>Heure de fin :</label>
    	<div class="centrer-cal">
			<timepicker ng-model="match.endDate"  show-meridian="false"></timepicker>
		</div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-danger" ng-click="ok()">Terminer le match</button>
    <button class="btn btn-warning" ng-click="cancel()">Annuler</button>
</div>
