<div class="conteneur-alertes">
	<div ng-click="fermerAlerte(alerte)" ng-repeat="alerte in alertes" class="alert alert-dismiss {{alerte.type}} anim-alerte design-alertes" role="alert">
		<span class="glyphicon glyphicon-exclamation-sign"></span>
		{{alerte.msg}}
	</div>
</div>
