<div>

	<!-- Ligne pour l'affichage des pays -->
	<div class="row">
		<div class="container-liste-pays">
			<input class="form-control" type="text" placeholder="Rechercher par nom de pays" ng-model="recherchePays"/>

			<!-- Sur le clic, changer la sélection et changer ng-class -->
			<ul class="liste-pays">
				<li ng-repeat="equipe in equipes | filter:recherchePays" class="elem-liste-pays" ng-click="selectionnerEquipe(equipe)">
					<div>
						<div class="nom-liste-pays" ng-class="{'nom-liste-pays-selected':equipe.selected}">
							<span>{{equipe.NomPays}}</span>
						</div>
						<div class="text-center container-img-liste-pays">
							<img ng-src="http://5.196.21.161/drapeaux/{{equipe.Iso | lowercase}}.png" alt="{{equipe.NomPays}}" class="img-liste-pays" width="60" height="40"/>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</div>
</div>
