<div class="btn-group" dropdown>
	<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
		<span class="{{design}}">{{choix.selection[champsNom]}}</span><span class="caret"></span>
	</button>
	<ul class="dropdown-menu" role="menu">
		<li ng-repeat="entree in entrees">
			<a href="" ng-click="changerChoix(entree)">{{entree[champsNom]}}</a>
		</li>
	</ul>
</div>
