<div ng-form="formulaireMatch">
	<accordion-group is-open="ouvert">
		<accordion-heading>
				<div class="row">
					<div class="col-md-10 text-center">
						{{titre()}}
					</div>
					<div class="col-md-2">
						<button type="button" class="btn btn-{{design[match.status].header.design}} btn-xs btn-block">{{design[match.status].header.message}}</button>
					</div>
				</div>
		</accordion-heading>
		<div chargement="chargement" local="false">
			<div class="row">
			
				<!-- Tableau de score -->
				<div class="col-md-5 top-space">
					
					<table class="table table-bordered">
						<thead>
							<tr>
								<th class="text-center"> Éq.</th>
								<th class="text-center" ng-repeat="set in match.score">Set {{$index+1}}</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td class="vcenter text-center">
									<img class="bordure-image drapeau-texte" ng-src="{{match.UrlTeam_A}}" alt="{{supermatch.NameTeamA}}"/>
								</td>
								<td ng-repeat="set in match.score">
									<input type="number" class="form-control" ng-model="set.A" ng-disabled="match.status !== 'FINISH'" name="{{'set'+($index+1)+'A'}}" required>
								</td>
							</tr>
							<tr>
								<td class="vcenter">
									<img class="bordure-image drapeau-texte" ng-src="{{match.UrlTeam_B}}" alt="{{supermatch.NameTeamB}}"/>
								</td>
								<td ng-repeat="set in match.score">
									<input type="number" class="form-control" ng-model="set.B" ng-disabled="match.status !== 'FINISH'" name="{{'set'+($index+1)+'B'}}" required>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
		
				<!-- Infos Joueurs -->
				<div class="col-md-4">
			
					<!-- Joueur(s) A -->
					<div class="row top-space">
						<div class="col-md-12 text-center">
							<img class="bordure-image drapeau-texte" ng-src="{{match.UrlTeam_A}}" alt="{{supermatch.NameTeamA}}"/>
						</div>
					</div>
					<div class="row top-space">
						<div class="col-md-12">
							
							<div class="form-group"ng-class="{'has-error': formulaireMatch.joueurA1.$invalid}">
								<select ng-options="entree.IdPlayer as nomJoueur(entree) for entree in listeJoueursA1" ng-model="match.playerA1Id" class="form-control" name="joueurA1" required></select>
								<div ng-messages="formulaireMatch.joueurA1.$error" role="alert">
									<div ng-message="required" class="text-danger">Veuillez entrer un joueur</div>
								</div>
							</div>
							
							<div class="form-group" ng-if="matchDouble()" ng-class="{'has-error': formulaireMatch.joueurA2.$invalid}">
			   					<select ng-options="entree.IdPlayer as nomJoueur(entree) for entree in listeJoueursA2" ng-model="match.playerA2Id" class="form-control" name="joueurA2" required></select>
			   					<div ng-messages="formulaireMatch.joueurA2.$error" role="alert">
									<div ng-message="required" class="text-danger">Veuillez entrer un joueur</div>
								</div>
							</div>
						</div>
					</div>
				
					<!-- Joueur(s) B -->
					<div class="row top-space">
						<div class="col-md-12 text-center">
							<img class="bordure-image drapeau-texte" ng-src="{{match.UrlTeam_B}}" alt="{{supermatch.NameTeamB}}"/>
						</div>
					</div>
					<div class="row top-space">
						<div class="col-md-12">
							
							<div class="form-group" ng-class="{'has-error': formulaireMatch.joueurB1.$invalid}">
								<select ng-options="entree.IdPlayer as nomJoueur(entree) for entree in listeJoueursB1" ng-model="match.playerB1Id" class="form-control" name="joueurB1" required></select>
								<div ng-messages="formulaireMatch.joueurB1.$error" role="alert">
									<div ng-message="required" class="text-danger">Veuillez entrer un joueur</div>
								</div>
							</div>
							
							<div class="form-group" ng-class="{'has-error': formulaireMatch.joueurB2.$invalid}" ng-if="matchDouble()">
			   					<select ng-options="entree.IdPlayer as nomJoueur(entree) for entree in listeJoueursB2" ng-model="match.playerB2Id" class="form-control"  name="joueurB2" required></select>
			   					<div ng-messages="formulaireMatch.joueurB2.$error" role="alert">
									<div ng-message="required" class="text-danger">Veuillez entrer un joueur</div>
								</div>
							</div>
						</div>
					</div>	
				</div>
		
				<!-- Colonne court -->
				<div ng-if="match.status !== 'FINISH'" class="col-md-3">
		
					<!-- Changement d'un court -->
					<div class="row top-space">
						<div class="col-md-12">
							<div class="row">
								<div class=" col-md-12 text-center">
									Court
								</div>
							</div>
							<div class="row top-space">
								<div class="col-md-12">
									
									<div class="form-group" ng-class="{'has-error': formulaireMatch.court.$invalid}">
										<select ng-options="entree as entree for entree in entreesCourt | orderBy" ng-model="match.court" class="form-control" name="court" required></select>
										<div ng-messages="formulaireMatch.court.$error" role="alert">
											<div ng-message="required" class="text-danger">Veuillez entrer un court</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row top-space" ng-if="match.status === 'SOON'">
						<div class="col-md-12">
							<div class="row">
								<div class=" col-md-12 text-center">
									Début du match
								</div>
							</div>
							<div class="row top-space">
								<div class=" col-md-12 text-center">
								
									<div class="form-group" ng-class="{'has-error': formulaireMatch.dateDebut.$invalid}">
										<input ng-model="match.startDate" type="text" class="form-control" placeholder="AAAA-MM-JJ HH:MM:SS" ng-pattern="formatDate" name="dateDebut" required/>
										<div ng-messages="formulaireMatch.dateDebut.$error" role="alert">
											<div ng-message="required" class="text-danger">Veuillez entrer une date de début</div>
											<div ng-message="pattern" class="text-danger">La date entrée ne correspond pas au format AAAA-MM-JJ HH:MM:SS</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Colonne date fin de match et vainqueur -->
				<div ng-if="match.status === 'FINISH'" class="col-md-3">
					<div class="row top-space">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12 text-center">
									Fin du match
								</div>
							</div>
							<div class="row top-space">
								<div class="col-md-12 text-center">
								
									<div class="form-group" ng-class="{'has-error': formulaireMatch.dateFin.$invalid}">
										<input ng-model="match.endDate" ng-class="" type="text" class="form-control" placeholder="AAAA-MM-JJ HH:MM:SS" ng-pattern="formatDate" ng-class="{'has-error': formulaireMatch.dateFin.$invalid}" name="dateFin" required/>
										<div ng-messages="formulaireMatch.dateFin.$error" role="alert">
											<div ng-message="required" class="text-danger">Veuillez entrer une date de fin</div>
											<div ng-message="pattern" class="text-danger">La date entrée ne correspond pas au format AAAA-MM-JJ HH:MM:SS</div>
										</div>
									</div>									
								</div>
							</div>
						</div>
					</div>
					<div class="row top-space">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-12 text-center">
									Vainqueur
								</div>
							</div>
							<div class="row top-space">
								<div class="col-md-12 text-center">
									<div class="form-group">
										<div class="btn-group" dropdown>
											<button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
												<span class="bouton-select-tour">{{choixGagnant}}</span><span class="caret"></span>
											</button>
											<ul class="dropdown-menu" role="menu">
												<li ng-repeat="entree in entreesEquipes">
									 				<a href="" ng-click="changerGagnant(entree)">{{entree.nom}}</a>
									 			</li>
											</ul>
										</div>
									</div>									
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Boutons màj d'un match -->
			<div class="row top-space">
				<div class="col-md-12">
					<div type="button" class="btn-group btn-group-justified" role="group">
						<div class="btn-group" ng-if="design[match.status].boutonA" role="group">
							<button type="button" class="btn btn-md btn-{{design[match.status].boutonA.design}} btn-default" ng-click="design[match.status].boutonA.action()" ng-disabled="formulaireMatch.$invalid">{{design[match.status].boutonA.texte}}</button>
						</div>
						<div class="btn-group" ng-if="design[match.status].boutonB" role="group">
							<button type="button" class="btn btn-md btn-{{design[match.status].boutonB.design}} btn-default" ng-click="design[match.status].boutonB.action()" ng-disabled="formulaireMatch.$invalid && !matchAVenir()">{{design[match.status].boutonB.texte}}</button>
						</div>
					</div>
					<button ng-click="actionMaj()" type="button" class="btn btn-md btn-block btn-primary" ng-if="match.status !== 'SOON'" ng-disabled="formulaireMatch.$invalid">Mettre à jour</button>
				</div>
			</div>
		</div>
	</accordion-group>
</div>
