<div>
	<div chargement="chargement" local="false">
	
		<h2 class="text-center text-muted">{{titre}}</h2>
		
		<!-- pagination haute -->
		<div class="row text-center" ng-if="optionsTab.paginable">
			<pagination total-items="totalElements" ng-model="pageCourante.valeur" items-per-page="choixEntreesPages.selection.valeur" max-size="5" rotate="false" boundary-links="true" previous-text="Précédente" next-text="Suivante" first-text="Première" last-text="Dernière"></pagination>
		</div>
	
		<!-- Ligne chargée de gérer les options et filtres du tableau -->
		<div class="row ligne-filtres">
	
			<!-- Bouton ajouter joueur (format compact) -->
			<button ng-if="optionsTab.editable" type="button" class="btn btn-success bouton-ajouter-reduit pull-left" ng-click="optionsTab.edition.fonctionAjout()">
				<span class="glyphicon glyphicon-plus"></span>
			</button>
		
			<!-- Texte et bouton de selection du nombre d'entrées par page -->
			<div class="pull-left" ng-if="optionsTab.paginable">
				<list-selector entrees="entreesPages" champs-nom="nom" choix="choixEntreesPages" design="bouton-ePages"></list-selector>
				entrées/page
			</div>
		
			<!-- Bouton pour afficher/cacher les filtres du tableau -->
			<button type="button" class="btn btn-default pull-right" ng-click="changerAffichageFiltres()" ng-if="optionsTab.filtrable" ng-disabled="tableauVide()">
				<span class="glyphicon glyphicon-filter"></span>
			</button>
		
			<!-- Groupe de boutons gérant le tri et son ordination -->
			<div ng-if="optionsTab.triable" class="btn-group container-sort pull-right" role="group">
	
				<!-- Ordre de tri -->
				<button type="button" class="btn btn-default" ng-click="inverserTri()" ng-disabled="!sensTri || tableauVide()">
						<span class="glyphicon glyphicon-sort-by-attributes">
				</button>
			
			
				<button type="button" class="btn btn-default" ng-click="inverserTri()" ng-disabled="sensTri || tableauVide()">
						<span class="glyphicon glyphicon-sort-by-attributes-alt">
				</button>
	
				<!-- Colonne de tri -->
				<div class="btn-group bouton-sort" dropdown>
					<button type="button" class="btn btn-default btn-block dropdown-toggle" dropdown-toggle ng-disabled="tableauVide()">
						<span class="glyphicon glyphicon-th-list"></span>
							<span class="texte-sort">{{entreeTriSelection.triage.nom}}</span>
						<span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li ng-repeat="entree in infosColonnes | filter: {optionsColonne:{triable:true}}">
							<a href="" ng-click="trierPar(entree)">{{entree.triage.nom}}</a>
			 			</li>
					</ul>
				</div>
			</div>
		
			<!-- Bouton actualiser -->
			<button type="button" class="btn btn-default pull-right bouton-actualiser" ng-click="rafraichir()">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</div>
	
		<!-- Tableau -->
		<div class="row">
			<div class="panel panel-default table-responsive">		
				<table class="table table-striped">
			
					<!-- Entête -->
					<thead>
						<tr>
							<th ng-repeat="entree in infosColonnes" data-field="{{entree.nom | lowercase}}" class="col-sm-{{entree.taille}} text-center">{{entree.nom}}</th>

							<th data-field="edition" ng-if="infosBoutons.length !== 0" class="col-sm-3 text-center text-center">
								Édition
							</th>
						</tr>
						<tr ng-if="optionsTab.filtrable" ng-show="affichageFiltres">
							<th ng-repeat="entree in infosColonnes | filter:{optionsColonne:{filtrable:true}}" class="col-sm-{{entree.filtrage.taille}}" colspan="{{tailleFiltres()}}">
								<input class="form-control" type="text" placeholder="Rechercher par {{entree.filtrage.nom | lowercase}}" ng-model="recherche[entree.attribut]" focus-on="affichageFiltres" position="{{$first}}"/>
							</th>
						</tr>
					</thead>
				
					<!-- Corps -->
					<tbody>
						<tr class="text-center vert-align" ng-show="tableauVide()">
							<td colspan="{{infosColonnes.length+optionsTab.editable+1}}">Aucune entrée !</td>
						</tr>
						<tr ng-repeat="entree in manager.entrees | orderBy:entreeTriSelection.attribut:sensTri | slice:premiereEntree(false):derniereEntree(false) | filter:recherche" class="anim-entrees-tab">
							
							<td ng-repeat="info in infosColonnes" data-title="info.nom | lowercase" class="text-center vert-align">
							
								<!-- Affichage de l'entrée ou du template -->
								<ng-include ng-if="info.optionsColonne.include" src="info.template">Coucou</ng-include>								
								<span ng-if="!info.optionsColonne.include">{{entree[info.attribut]}}</span>
								
							</td>
							
							<!-- Boutons d'édition -->
							<td data-title="edition" ng-if="infosBoutons.length !== 0" class="text-center vert-align">
								<div class="btn-group" role="group">
								
									<button ng-repeat="bouton in infosBoutons" ng-click="bouton.fonction(entree)" class="btn btn-xs {{bouton.style.type}}">
									
										<span class="glyphicon {{bouton.style.glyph}}" aria-hidden="true"></span> {{bouton.nom}}
									</button>

								</div>
							</td>
						</tr>
						<tr ng-if="optionsTab.editable">
							<td colspan="{{infosColonnes.length+editable+1}}">
								<button type="button" ng-click="optionsTab.edition.fonctionAjout()" class="btn btn-success btn-block">
									<span class="glyphicon glyphicon-plus"></span> Ajouter une entrée
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
		<!-- Informations sur l'affichage des entrées -->
		<div class="row" ng-if="optionsTab.paginable">
			<p class="well"> Entrée(s) {{premiereEntree(true)}} à {{derniereEntree(true)}} sur {{totalElements}} entrée(s) au total</p>
		</div>
	
		<!-- pagination basse -->
		<div class="row text-center" ng-if="optionsTab.paginable">
				<pagination total-items="totalElements" ng-model="pageCourante.valeur" items-per-page="choixEntreesPages.selection.valeur" max-size="5" rotate="false" boundary-links="true" previous-text="Précédente" next-text="Suivante" first-text="Première" last-text="Dernière"></pagination>
		</div>
	</div>
</div>
