<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width , initial-scale=1">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->
  </head>
  <body ng-app="panelAdminApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div class="container-fluid" ng-controller="HeaderCtrl">
    	<div chargement="chargement" local="false">
			<div class="header">
				<ul class="nav nav-pills pull-right">
					<li ng-class="{ active: estActive('/accueil')}"><a ng-href="#/accueil">Accueil</a></li>
					<li ng-class="{ active: estActive('/equipes')}"><a ng-href="#/equipes">Équipes</a></li>
					<li ng-class="{ active: estActive('/joueurs')}"><a ng-href="#/joueurs">Joueurs</a></li>
					<li ng-class="{ active: estActive('/tirage')}"><a ng-href="#/tirage">Tirage</a></li>
					<li ng-class="{ active: estActive('/matchs'), disabled: !tournoiDemarre()}"><a ng-href="{{lienMatch()}}">Matchs</a></li>
				</ul>
				<img id="logo" src="images/logo.png" alt="logo"/><h3 class="text-muted">AceCream</h3>
			</div>

			<div class="container-fluid">
				<afficheur-infos></afficheur-infos>
			</div>

			<div id="container-principal" ng-view></div>

			<div class="footer">
				<p>Université Rennes 1 - ISTIC</p>
			</div>
		</div>
	</div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js(.) scripts/oldieshim.js -->
    <!--[if lt IE 9]>
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.js"></script>
    <![endif]-->
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/jquery-ui/jquery-ui.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

        <!-- build:js({.tmp,app}) scripts/scripts.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/authentification.js"></script>
        <script src="scripts/controllers/joueursEquipe.js"></script>
        <script src="scripts/controllers/equipes.js"></script>
        <script src="scripts/controllers/joueurs.js"></script>
        <script src="scripts/controllers/modal/ajouterJoueur.js"></script>
        <script src="scripts/controllers/modal/ajouterJoueurEquipe.js"></script>
        <script src="scripts/controllers/modal/editerEquipe.js"></script>
        <script src="scripts/services/apicall.js"></script>
        <script src="scripts/directives/chargement.js"></script>
        <script src="scripts/filters/slice.js"></script>
        <script src="scripts/services/ressources.js"></script>
        <script src="scripts/directives/focusOn.js"></script>
        <script src="scripts/services/intercepteurHTTP.js"></script>
        <script src="scripts/directives/tableau.js"></script>
        <script src="scripts/controllers/modal/modalInstance.js"></script>
        <script src="scripts/controllers/modal/editerJoueur.js"></script>
        <script src="scripts/services/valeurs/infosConnexion.js"></script>
        <script src="scripts/filters/assocFilter.js"></script>
        <script src="scripts/controllers/header.js"></script>
        <script src="scripts/services/pays.js"></script>
        <script src="scripts/directives/flagSelector.js"></script>
        <script src="scripts/services/informer.js"></script>
        <script src="scripts/directives/afficheurInfos.js"></script>
        <script src="scripts/controllers/tirage.js"></script>
        <script src="scripts/filters/applatirTirage.js"></script>
        <script src="scripts/filters/prepareTirage.js"></script>
        <script src="scripts/directives/fileModel.js"></script>
        <script src="scripts/controllers/modal/showPhoto.js"></script>
        <script src="scripts/filters/extension.js"></script>
        <script src="scripts/controllers/matchs.js"></script>
        <script src="scripts/directives/ongletMatch.js"></script>
        <script src="scripts/controllers/modal/terminerMatch.js"></script>
        <script src="scripts/directives/listSelector.js"></script>
        <script src="scripts/filters/applatirScore.js"></script>
        <script src="scripts/services/managers/joueursManager.js"></script>
        <script src="scripts/services/managers/equipesManager.js"></script>
        <script src="scripts/services/valeurs/chargementGlobal.js"></script>
        <script src="scripts/services/managers/joueursEquipeManager.js"></script>
        <script src="scripts/controllers/modal/supprimerJoueur.js"></script>
        <script src="scripts/services/managers/tournoiManager.js"></script>
        <!-- endbuild -->
</body>
</html>
