<h1><code ng:non-bindable="">ModalSupprimerjoueurCtrl</code>
<div><span class="hint">function in module <code ng:non-bindable="">administrationAceCreamApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="administrationacecreamapp-controller-page administrationacecreamapp-controller-modalsupprimerjoueurctrl-page"><h3 id="description_modalsupprimerjoueurctrl">ModalSupprimerjoueurCtrl</h3>
<p>Controller of the administrationAceCreamApp</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">ModalSupprimerjoueurCtrl();</pre>
</div>
</div>
