<h1><code ng:non-bindable=""></code>
<div><span class="hint"></span>
</div>
</h1>
<div><div class="application-d-administration-de-la-comp-tition-page"><p>Module principal de l&#39;application. Se charge de gérer les vues et controleurs a utiliser en fonction de la route</p>
</div></div>
