<h1><code ng:non-bindable="">tableau</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-tableau-page"><p>Directive définissant un tableau éditable à plusieurs entrées</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY tableau
     manager="{Object}"
     infos-colonnes="{Array}"
     infos-boutons="{Array}"
     options-tab="{Object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>manager</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-tableau-page"><p>Le manager chargé de gérer les entrées du tableau</p>
</div></td></tr><tr><td>infosColonnes</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-tableau-page"><p>Ce tableau d&#39;objets recense les informations sur les colonnes, il est de la forme suivante :</p>
<ul>
<li>nom</li>
<li>attribut</li>
<li>taille Au sens de bootstrap, c&#39;est à dire que le total des colonnes ne doit pas exceder 9 si le tableau est éditable, 12 sinon</li>
<li>optionsColonne<ul>
<li>triable</li>
<li>filtrable</li>
<li>include Spécifie si on doit représenter l&#39;entrée dans un template</li>
</ul>
</li>
<li>triage<ul>
<li>nom</li>
</ul>
</li>
<li>filtrage<ul>
<li>nom</li>
<li>taille La taille du filtre, le total de la taille de entrées filtrables de doit pas excéder 12</li>
</ul>
</li>
<li>template Le template à utiliser pour réprésenter l&#39;entrée</li>
</ul>
</div></td></tr><tr><td>infosBoutons</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-tableau-page"><p>Ce tableau d&#39;objets recense les informations sur les bontons d&#39;édition/consultation associés à chaque entrée, il est de la forme suivante :</p>
<ul>
<li>nom</li>
<li>style</li>
<li>type La classe de bouton bootstrap à associer au bouton</li>
<li>glyph La classe glyphicon bootstrap à associer au bouton</li>
<li>fonction La fonction a exécuter lors du clic sur le bouton</li>
</ul>
</div></td></tr><tr><td>optionsTab</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-tableau-page"><p>Cet objet définit les options à activer dans le tableau :</p>
<ul>
<li>triable</li>
<li>filtrable</li>
<li>paginable</li>
<li>editable</li>
<li>edition Une fonction qui s&#39;exécute lorsqu&#39;on clique sur un des boutons pour ajouter une entrée</li>
</ul>
</div></td></tr></tbody></table></div>
</div>
