<h1><code ng:non-bindable="">chargement</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-chargement-page"><p>Cette directive est chargée d&#39;afficher une animation de chargement</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY chargement
     status-chargement="{Boolean}"
     local="{Boolean}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>statusChargement</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-chargement-page"><p>Un booléen charger de désigner si le contenu englobé est en chargement (true) ou non (false)</p>
</div></td></tr><tr><td>local</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-chargement-page"><p>Spécifie si l&#39;animation de chargement doit prendre tout l&#39;écran ou juste le container parent</p>
</div></td></tr></tbody></table></div>
</div>
