<h1><code ng:non-bindable="">afficheurInfos</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-afficheurinfos-page"><p>Cette directive agit en collaboration avec le service informer et est chargée de générer le code HTML d&#39;affichage des notifications au sein de l&#39;application</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;afficheur-infos&gt;
&lt;/afficheur-infos&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
</div>
</div>
