<h1><code ng:non-bindable="">MainCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-mainctrl-page"><p>Contrôleur de la page d&#39;accueil</p>
</div></div>
</div>
