<h1><code ng:non-bindable="">EquipesCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-equipesctrl-page"><p>Contrôleur de la page gérant les équipes</p>
</div></div>
</div>
