<h1><code ng:non-bindable="">extension</code>
<div><span class="hint">filter in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-filter-page paneladminapp-filter-extension-page"><p>Permet d&#39;extraire l&#39;extension depuis un nom de fichier</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> extension_expression | extension <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('extension')(nomFichier)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>nomFichier</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-extension-page"><p>Un nom de fichier</p>
</div></td></tr></tbody></table></div>
</div>
