<h1><code ng:non-bindable="">fileModel</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-filemodel-page"><p>Cette directive est charger de surveiller un input de type file car celui-ci n&#39;est pas pris en charge par AngularJS</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY file-model&gt;
   ...
&lt;/ANY&gt;</pre>
</div>
</div>
