<h1><code ng:non-bindable="">assocFilter</code>
<div><span class="hint">filter in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-filter-page paneladminapp-filter-assocfilter-page"><p>Ce filtre est chargé de transformer les clés d&#39;un objet.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> assocFilter_expression | assocFilter:assoc:complet <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('assocFilter')(source, assoc, complet)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-assocfilter-page"><p>L&#39;objet à modifier</p>
</div></td></tr><tr><td>assoc</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-assocfilter-page"><p>L&#39;objet renseignant les associations sous la forme {&#39;ancienneCle&#39;:&#39;nouvelleCle&#39;}</p>
</div></td></tr><tr><td>complet</td><td><a href="" class="label type-hint type-hint-boolean">Boolean</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-assocfilter-page"><p>Indique si le filtre doit ignorer les champs de l&#39;objet d&#39;origine qui ne sont pas renseignés dans assoc (false) ou bien les conserver (true)</p>
</div></td></tr></tbody></table></div>
</div>
