<h1><code ng:non-bindable="">ongletMatch</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-ongletmatch-page"><p>Utilisant le système d&#39;ascenceur pour l&#39;affichage des matchs, ongletMatch fournit une marche de cet ascenceur (un onglet dépliable) permettant de modifier le status et les informations d&#39;un match</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY onglet-match
     match="{Object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>match</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-ongletmatch-page"><p>Le match auquel l&#39;onglet doit faire référence</p>
</div></td></tr></tbody></table></div>
</div>
