<h1><code ng:non-bindable="">ShowPhotoCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-showphotoctrl-page"><p>Permet d&#39;afficher la photo d&#39;un joueur dans un modal</p>
</div></div>
</div>
