<h1><code ng:non-bindable="">chargement</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-chargement-page"><p>Permet de spécifier si un chargement est actif ou non (false)</p>
</div></div>
</div>
