<h1><code ng:non-bindable="">RESSOURCES</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-ressources-page"><p>Répertorie les variables d&#39;accès aux ressources de l&#39;application</p>
</div></div>
</div>
