<h1><code ng:non-bindable="">MatchsCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-matchsctrl-page"><p>Controleur de la page de gestion des matchs</p>
</div></div>
</div>
