<h1><code ng:non-bindable="">JoueursManager</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-joueursmanager-page"><p>Ce manager est chargé de gérer les entrées des joueurs retournées par l&#39;API et gérer les messages d&#39;erreur relatifs à son appel</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_ajouterentree">ajouterEntree(joueur)</h3>
<div class="ajouterentree"><div class="ajouterentree-page"><p>Permet d&#39;ajouter un nouveau joueur au manager</p>
</div><h5 id="methods_ajouterentree_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>joueur</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="ajouterentree-page"><p>Le nouveau joueur à ajouter</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_editerentree">editerEntree(joueur)</h3>
<div class="editerentree"><div class="editerentree-page"><p>Permet d&#39;éditer un joueur du manager</p>
</div><h5 id="methods_editerentree_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>joueur</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="editerentree-page"><p>Le nouveau joueur (identifiant égal à celui qu&#39;il faut éditer)</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_rafraichir">rafraichir()</h3>
<div class="rafraichir"><div class="rafraichir-page"><p>Permet de rafraichir les entrées du manager via l&#39;API</p>
</div></div>
</li>
<li><h3 id="methods_supprimerentree">supprimerEntree(joueur)</h3>
<div class="supprimerentree"><div class="supprimerentree-page"><p>Permet de supprimer un joueur du manager</p>
</div><h5 id="methods_supprimerentree_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>joueur</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="supprimerentree-page"><p>Le joueur à supprimer</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
