<h1><code ng:non-bindable="">focusOn</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-focuson-page"><p>Cette directive est chargée de déclencher le focus de l&#39;élément sur lequel elle est située lorsque elemFocus change</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY focus-on
     elem-focus="{*}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>elemFocus</td><td><a href="" class="label type-hint type-hint-object">*</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-focuson-page"><p>Un element à surveiller afin de prendre le focus à chaque changement</p>
</div></td></tr></tbody></table></div>
</div>
