<h1><code ng:non-bindable="">chargementGlobal</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-chargementglobal-page"><p>Valeur AngularJS permettant de spécifier si un chargement est actif (true) ou non (false)</p>
</div></div>
</div>
