<h1><code ng:non-bindable="">prepareTirage</code>
<div><span class="hint">filter in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-filter-page paneladminapp-filter-preparetirage-page"><p>Ce filtre est chargé de transformer le tableau à envoyer à l&#39;API de façon à ce qu&#39;il correponde à l&#39;entrée attendue</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> prepareTirage_expression | prepareTirage <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('prepareTirage')(source)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-preparetirage-page"><p>Le tableau à envoyer à l&#39;API</p>
</div></td></tr></tbody></table></div>
</div>
