<h1><code ng:non-bindable="">apicall</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-apicall-page"><p>Ce service permet d&#39;effectuer tous les appel à l&#39;API</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_addjoueur">addJoueur(joueur)</h3>
<div class="addjoueur"><div class="addjoueur-page"><p>Permet d&#39;ajouter un joueur au tournois</p>
</div><h5 id="methods_addjoueur_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>joueur</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="addjoueur-page"><p>Les informations sur le joueur à ajouter selon la documentation de l&#39;API</p>
</div></td></tr></tbody></table><h5 id="methods_addjoueur_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="addjoueur-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_authentification">authentification(infosAuth)</h3>
<div class="authentification"><div class="authentification-page"><p>Permet de récupérer un token auprès de l&#39;API</p>
</div><h5 id="methods_authentification_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>infosAuth</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="authentification-page"><p>Les informations nécessaires à l&#39;authentification de l&#39;utilisateur</p>
</div></td></tr></tbody></table><h5 id="methods_authentification_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="authentification-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_cancelmatch">cancelMatch(idMatch)</h3>
<div class="cancelmatch"><div class="cancelmatch-page"><p>Permet d&#39;annuler un match</p>
</div><h5 id="methods_cancelmatch_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idMatch</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="cancelmatch-page"><p>L&#39;identifiant du match qu&#39;on souhaite annuler</p>
</div></td></tr></tbody></table><h5 id="methods_cancelmatch_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="cancelmatch-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_changeendmatch">changeEndMatch(idMatch, score, gagnant, dateFin)</h3>
<div class="changeendmatch"><div class="changeendmatch-page"><p>Permet de changer la fin d&#39;un match (ainsi que son score)</p>
</div><h5 id="methods_changeendmatch_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idMatch</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="changeendmatch-page"><p>Le match dont on souhaite retrouver le score</p>
</div></td></tr><tr><td>score</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="changeendmatch-page"><p>Le nouveau score du match</p>
</div></td></tr><tr><td>gagnant</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="changeendmatch-page"><p>Le gagnant du match</p>
</div></td></tr><tr><td>dateFin</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="changeendmatch-page"><p>La date de fin du match au format AAAA-MM-DD HH:MM:SS</p>
</div></td></tr></tbody></table><h5 id="methods_changeendmatch_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="changeendmatch-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_changematchcourt">changeMatchCourt(idMatch, nouveauCourt)</h3>
<div class="changematchcourt"><div class="changematchcourt-page"><p>Permet de changer le court associé à un match</p>
</div><h5 id="methods_changematchcourt_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idMatch</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="changematchcourt-page"><p>Le match dont on souhaite changer le court</p>
</div></td></tr><tr><td>nouveauCourt</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="changematchcourt-page"><p>Le nouveau court où se déroule le match</p>
</div></td></tr></tbody></table><h5 id="methods_changematchcourt_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="changematchcourt-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_delequipe">delEquipe(indEquipe)</h3>
<div class="delequipe"><div class="delequipe-page"><p>Permet de réinitialiser les informations concernant une équipe du tournois</p>
</div><h5 id="methods_delequipe_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>indEquipe</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="delequipe-page"><p>L&#39;identifiant de l&#39;équipe à réinitialiser</p>
</div></td></tr></tbody></table><h5 id="methods_delequipe_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="delequipe-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_deljoueur">delJoueur(idJoueur)</h3>
<div class="deljoueur"><div class="deljoueur-page"><p>Permet de supprimer un joueur</p>
</div><h5 id="methods_deljoueur_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idJoueur</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="deljoueur-page"><p>L&#39;identifiant du joueur à supprimer</p>
</div></td></tr></tbody></table><h5 id="methods_deljoueur_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="deljoueur-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_endmatch">endMatch(infosMatch)</h3>
<div class="endmatch"><div class="endmatch-page"><p>Permet de terminer un match en spécifiant un gagnant</p>
</div><h5 id="methods_endmatch_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>infosMatch</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="endmatch-page"><p>Les informations sur le match à terminer</p>
</div></td></tr></tbody></table><h5 id="methods_endmatch_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="endmatch-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getcourtsdispo">getCourtsDispo()</h3>
<div class="getcourtsdispo"><div class="getcourtsdispo-page"><p>Permet de retrouver les courts disponibles pour un match</p>
</div><h5 id="methods_getcourtsdispo_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getcourtsdispo-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getequipe">getEquipe(idEquipe)</h3>
<div class="getequipe"><div class="getequipe-page"><p>Permet de récupérer les informations sur une équipe du tournois</p>
</div><h5 id="methods_getequipe_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idEquipe</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="getequipe-page"><p>L&#39;identifiant de l&#39;équipe dont on souhaite avoir les informations</p>
</div></td></tr></tbody></table><h5 id="methods_getequipe_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getequipe-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getequipes">getEquipes()</h3>
<div class="getequipes"><div class="getequipes-page"><p>Permet de récupérer les informations sur les équipe du tournois</p>
</div><h5 id="methods_getequipes_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-promise">Promise</a></td><td><div class="getequipes-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getjoueurs">getJoueurs()</h3>
<div class="getjoueurs"><div class="getjoueurs-page"><p>Permet de récupérer les informations sur les joueurs du tournois</p>
</div><h5 id="methods_getjoueurs_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getjoueurs-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getjoueursequipe">getJoueursEquipe(isoEquipe, genre)</h3>
<div class="getjoueursequipe"><div class="getjoueursequipe-page"><p>Permet de récupérer les informations sur les joueurs d&#39;&#39;une équipe</p>
</div><h5 id="methods_getjoueursequipe_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>isoEquipe</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="getjoueursequipe-page"><p>Le code iso de l&#39;équipe</p>
</div></td></tr><tr><td>genre</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="getjoueursequipe-page"><p>Le sexe des joueurs que l&#39;on souhaite obtenir (voir doc API)</p>
</div></td></tr></tbody></table><h5 id="methods_getjoueursequipe_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getjoueursequipe-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getmatch">getMatch(idMatch)</h3>
<div class="getmatch"><div class="getmatch-page"><p>Permet de récupérer les informations concernant un match du tournois</p>
</div><h5 id="methods_getmatch_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idMatch</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="getmatch-page"><p>L&#39;identifiant du match pour lequel on doit récupérer les informations</p>
</div></td></tr></tbody></table><h5 id="methods_getmatch_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getmatch-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getmatchs">getMatchs(tour)</h3>
<div class="getmatchs"><div class="getmatchs-page"><p>Permet de récupérer les matchs concernant un tour du tournois</p>
</div><h5 id="methods_getmatchs_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>tour</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="getmatchs-page"><p>Le tour pour lequel on souhaite obtenir les matchs (voir doc API pour les valeurs)</p>
</div></td></tr></tbody></table><h5 id="methods_getmatchs_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getmatchs-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getscore">getScore(idMatch)</h3>
<div class="getscore"><div class="getscore-page"><p>Permet de retrouver le score d&#39;un match</p>
</div><h5 id="methods_getscore_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idMatch</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="getscore-page"><p>Le match dont on souhaite retrouver le score</p>
</div></td></tr></tbody></table><h5 id="methods_getscore_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getscore-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getstage">getStage()</h3>
<div class="getstage"><div class="getstage-page"><p>Permet de récupérer l&#39;état du tournois</p>
</div><h5 id="methods_getstage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getstage-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_getsupermatchs">getSuperMatchs(tour)</h3>
<div class="getsupermatchs"><div class="getsupermatchs-page"><p>Permet de récupérer les superMatchs concernant un tour du tournois</p>
</div><h5 id="methods_getsupermatchs_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>tour</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="getsupermatchs-page"><p>Le tour pour lequel on souhaite obtenir les matchs (voir doc API pour les valeurs)</p>
</div></td></tr></tbody></table><h5 id="methods_getsupermatchs_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="getsupermatchs-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_gettirage">getTirage()</h3>
<div class="gettirage"><div class="gettirage-page"><p>Permet de récupérer les informations concernant l&#39;initialisation des rencontres entre les pays</p>
</div><h5 id="methods_gettirage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="gettirage-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_gettournoi">getTournoi()</h3>
<div class="gettournoi"><div class="gettournoi-page"><p>Permet de récupérer les informations relative au tournoi</p>
</div><h5 id="methods_gettournoi_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="gettournoi-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_matchchangerjoueur">matchChangerJoueur(idMatch, idAncienJoueur, idNouveauJoueur)</h3>
<div class="matchchangerjoueur"><div class="matchchangerjoueur-page"><p>Permet de changer le joueur d&#39;un match</p>
</div><h5 id="methods_matchchangerjoueur_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idMatch</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="matchchangerjoueur-page"><p>L&#39;identifiant du match à éditer</p>
</div></td></tr><tr><td>idAncienJoueur</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="matchchangerjoueur-page"><p>L&#39;identifiant de l&#39;ancien joueur</p>
</div></td></tr><tr><td>idNouveauJoueur</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="matchchangerjoueur-page"><p>L&#39;identifiant du nouveau joueur</p>
</div></td></tr></tbody></table><h5 id="methods_matchchangerjoueur_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="matchchangerjoueur-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_nextsteptournoi">nextStepTournoi(etape)</h3>
<div class="nextsteptournoi"><div class="nextsteptournoi-page"><p>Permet de passer à l&#39;étape suivant du tournoi</p>
</div><h5 id="methods_nextsteptournoi_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>etape</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="nextsteptournoi-page"><p>La nouvelle étape pour le tournoi</p>
</div></td></tr></tbody></table><h5 id="methods_nextsteptournoi_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="nextsteptournoi-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_setequipe">setEquipe(idEquipe, dataReq)</h3>
<div class="setequipe"><div class="setequipe-page"><p>Permet de modifier les informations sur une équipe du tournois</p>
</div><h5 id="methods_setequipe_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idEquipe</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="setequipe-page"><p>L&#39;identifiant de l&#39;équipe à modifier</p>
</div></td></tr><tr><td>dataReq</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setequipe-page"><p>Les nouvelles informations sur l&#39;équipe</p>
</div></td></tr></tbody></table><h5 id="methods_setequipe_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setequipe-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_setjoueur">setJoueur(joueur)</h3>
<div class="setjoueur"><div class="setjoueur-page"><p>Permet de modifier les informations sur un joueur</p>
</div><h5 id="methods_setjoueur_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>joueur</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setjoueur-page"><p>Les nouvelles informations du joueur comme spécifié dans la documentation de l&#39;API</p>
</div></td></tr></tbody></table><h5 id="methods_setjoueur_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="setjoueur-page"><p>Un promise sur le résultat de la requête (+ update photo)</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_settirage">setTirage(infosTirage)</h3>
<div class="settirage"><div class="settirage-page"><p>Permet de modifier les informations concernant l&#39;initialisation des rencontres entre les pays</p>
</div><h5 id="methods_settirage_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>infosTirage</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="settirage-page"><p>Les informations sur le nouveau tirage</p>
</div></td></tr></tbody></table><h5 id="methods_settirage_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="settirage-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_startmatch">startMatch(infosMatch)</h3>
<div class="startmatch"><div class="startmatch-page"><p>Permet de démarrer un match</p>
</div><h5 id="methods_startmatch_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>infosMatch</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="startmatch-page"><p>Les informations sur le match à démarrer</p>
</div></td></tr></tbody></table><h5 id="methods_startmatch_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="startmatch-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_updatephoto">updatePhoto(idJoueur, infosPhoto)</h3>
<div class="updatephoto"><div class="updatephoto-page"><p>Permet de mettre à jour la photo d&#39;un joueur du tournois (seulement compatible IE 9+)</p>
</div><h5 id="methods_updatephoto_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>idJoueur</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="updatephoto-page"><p>L&#39;identifiant du joueur concernée</p>
</div></td></tr><tr><td>infosPhoto</td><td><a href="" class="label type-hint type-hint-file">File</a></td><td><div class="updatephoto-page"><p>Un objet de type file répetoriant les informations pour l&#39;upload</p>
</div></td></tr></tbody></table><h5 id="methods_updatephoto_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="updatephoto-page"><p>Un promise sur le résultat de la requête</p>
</div></td></tr></table></div>
</li>
</ul>
</div>
</div>
