<h1><code ng:non-bindable="">TirageCtrl</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-tiragectrl-page"><p>Contrôleur de la page de gérant l&#39;initialisation des rencontres via tirage</p>
</div></div>
</div>
