<h1><code ng:non-bindable="">applatirScore</code>
<div><span class="hint">filter in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-filter-page paneladminapp-filter-applatirscore-page"><p>Filtre qui permet de préparer un objet contenant le score d&#39;un match pour appel à l&#39;API</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> applatirScore_expression | applatirScore <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('applatirScore')(source)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>source</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-applatirscore-page"><p>L&#39;objet contenant les scores</p>
</div></td></tr></tbody></table></div>
</div>
