<h1><code ng:non-bindable="">informer</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-informer-page"><p>Objet gérant les notifications provenant de l&#39;application</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_error">error(msg)</h3>
<div class="error"><div class="error-page"><p>Permet d&#39;ajouter un message rouge au centre de notifications</p>
</div><h5 id="methods_error_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="error-page"><p>Le message</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_getinformations">getInformations()</h3>
<div class="getinformations"><div class="getinformations-page"><p>Retourne l&#39;ensemble des informations du centre</p>
</div><h5 id="methods_getinformations_returns">Returns</h5><table class="variables-matrix"><tr><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="getinformations-page"><p>L&#39;ensemble des messages</p>
</div></td></tr></table></div>
</li>
<li><h3 id="methods_info">info(msg)</h3>
<div class="info"><div class="info-page"><p>Permet d&#39;ajouter un message bleu au centre de notifications</p>
</div><h5 id="methods_info_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="info-page"><p>Le message</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_informer">informer(type, msg)</h3>
<div class="informer"><div class="informer-page"><p>Permet d&#39;ajouter un message au centre de notifications</p>
</div><h5 id="methods_informer_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>type</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="informer-page"><p>Le type du message :</p>
<ul>
<li>success (vert)</li>
<li>danger (rouge)</li>
<li>warning (orange)<ul>
<li>primary (bleu)</li>
</ul>
</li>
</ul>
</div></td></tr><tr><td>msg</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="informer-page"><p>Le message</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_success">success(msg)</h3>
<div class="success"><div class="success-page"><p>Permet d&#39;ajouter un message vert au centre de notifications</p>
</div><h5 id="methods_success_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="success-page"><p>Le message</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_supprimer">supprimer(msg)</h3>
<div class="supprimer"><div class="supprimer-page"><p>Permet de supprimer un message du centre de notifications</p>
</div><h5 id="methods_supprimer_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="supprimer-page"><p>Le message à supprimer</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_warning">warning(msg)</h3>
<div class="warning"><div class="warning-page"><p>Permet d&#39;ajouter un message orange au centre de notifications</p>
</div><h5 id="methods_warning_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>msg</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="warning-page"><p>Le message</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
