<h1><code ng:non-bindable="">HeaderCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-headerctrl-page"><p>Contrôleur du header de l&#39;application (utilisé pour actualiser l&#39;affichage de l&#39;onglet actif)</p>
</div></div>
</div>
