<h1><code ng:non-bindable="">AjoutJoueurEquipeCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-ajoutjoueurequipectrl-page"><p>Contrôleur de fenêtre modal servant à saisir les informations nécessaires à l&#39;ajout d&#39;un joueur dans une équipe</p>
</div></div>
</div>
