<h1><code ng:non-bindable="">listSelector</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-listselector-page"><p>Cette directive est chargée de générer un bouton imitant le type select </p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as attribute<pre class="prettyprint linenums">&lt;ANY list-selector
     entrees="{Array}"
     champs-nom="{String}"
     design="{String}"
     choix="{Object}"&gt;
   ...
&lt;/ANY&gt;</pre>
<h4 id="usage_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entrees</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-listselector-page"><p>Les entrées du select</p>
</div></td></tr><tr><td>champsNom</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-listselector-page"><p>Le champs des objets utilisé pour l&#39;affichage</p>
</div></td></tr><tr><td>design</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-listselector-page"><p>Une ou plusieures classes CSS à appliquer à l&#39;élement</p>
</div></td></tr><tr><td>choix</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-listselector-page"><p>L&#39;objet choisi par l&#39;utilisateur</p>
</div></td></tr></tbody></table></div>
</div>
