<h1><code ng:non-bindable="">valeurs</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-valeurs-page"><h3 id="description_valeurs">valeurs</h3>
<p>Value in the panelAdminApp.</p>
</div></div>
</div>
