<h1><code ng:non-bindable="">infosConnexion</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-infosconnexion-page"><p>Valeur AngularJS contenant les informations de connexion d&#39;un utilisateur (login, password, token)</p>
</div></div>
</div>
