<h1><code ng:non-bindable="">constantes</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-constantes-page"><p>Constantes de l&#39;application</p>
</div></div>
</div>
