<h1><code ng:non-bindable="">TerminerMatchCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-terminermatchctrl-page"><p>Modal servant à saisir les informations nécessaires pour terminer un match</p>
</div></div>
</div>
