<h1><code ng:non-bindable="">Joueursmanager</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-joueursmanager-page"><p>Ce manager est charger de gérer les entrées des joueurs d&#39;une équipe retournées par l&#39;API et gérer les messages d&#39;erreur relatifs à son appel</p>
</div></div>
</div>
