<h1><code ng:non-bindable="">intercepteurHttp</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-intercepteurhttp-page"><p>L&#39;intercepteur HTTP est chargé de rediriger l&#39;utilisateur vers l&#39;authentification s&#39;il ne s&#39;est pas connecté avant d&#39;envoyer une requête de type &#39;édition&#39; à l&#39;API. Il permet également d&#39;insérer le token d&#39;authentification dans toutes les requêtes vers l&#39;API, de gérer les messages d&#39;erreur provenant de celle-ci et de gérer la reconnexion automatique si nécessaire.</p>
</div></div>
</div>
