<h1><code ng:non-bindable="">slice</code>
<div><span class="hint">filter in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-filter-page paneladminapp-filter-slice-page"><p>Ce filtre est chargé de retourner une copie du tableau qui lui est passé en paramètre en ne conservant que les éléments ayant un indice situé dans la plage définie par les autres paramètres.</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><h3 id="usage_in-html-template-binding">In HTML Template Binding</h3>
<div class="in-html-template-binding"><code ng:non-bindable=""><span>{{</span> slice_expression | slice:debut:fin <span>}}</span></code>
</div>
<h3 id="usage_in-javascript">In JavaScript</h3>
<div class="in-javascript"><code ng:non-bindable="">$filter('slice')(entree, debut, fin)</code>
</div>
<h4 id="usage_in-javascript_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>entree</td><td><a href="" class="label type-hint type-hint-array">Array</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-slice-page"><p>Le tableau d&#39;origine</p>
</div></td></tr><tr><td>debut</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-slice-page"><p>L&#39;indice de début de sélection</p>
</div></td></tr><tr><td>fin</td><td><a href="" class="label type-hint type-hint-integer">Integer</a></td><td><div class="paneladminapp-filter-page paneladminapp-filter-slice-page"><p>L&#39;indice de fin de sélection</p>
</div></td></tr></tbody></table></div>
</div>
