<h1><code ng:non-bindable="">JoueursCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-joueursctrl-page"><p>Controleur de la page de gestion des joueurs</p>
</div></div>
</div>
