<h1><code ng:non-bindable="">EditerEquipeCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-editerequipectrl-page"><p>Contrôleur de fenêtre modal servant à éditer un joueur</p>
</div></div>
</div>
