<h1><code ng:non-bindable="">TournoiManager</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-tournoimanager-page"><p>Ce manager est chargé de gérer les informations concernant le tournoi</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_rafraichir">rafraichir()</h3>
<div class="rafraichir"><div class="rafraichir-page"><p>Permet de rafraichir les informations sur le tournoi</p>
</div></div>
</li>
</ul>
</div>
</div>
