<h1><code ng:non-bindable="">pays</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-pays-page"><p>Constante AngularJS chargée d&#39;associer un nom de pays à son code ISO (2 lettres)</p>
</div></div>
</div>
