<h1><code ng:non-bindable="">ModalShowphotoCtrl</code>
<div><span class="hint">function in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-modalshowphotoctrl-page"><h3 id="description_modalshowphotoctrl">ModalShowphotoCtrl</h3>
<p>Permet d&#39;afficher la photo d&#39;un joueur dans un modal</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage"><pre class="prettyprint linenums">ModalShowphotoCtrl();</pre>
</div>
</div>
