<h1><code ng:non-bindable="">ModalSupprimerjoueurCtrl</code>
<div><span class="hint">controller in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-controller-page paneladminapp-controller-modalsupprimerjoueurctrl-page"><h3 id="description_modalsupprimerjoueurctrl">ModalSupprimerjoueurCtrl</h3>
<p>Controller of the administrationAceCreamApp</p>
</div></div>
</div>
