<h1><code ng:non-bindable="">ApiCaller</code>
<div><span class="hint">service in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-apicaller-page"><p>Objet retourné par le provider apicall</p>
</div></div>
<div class="member method"><h2 id="methods">Methods</h2>
<ul class="methods"><li><h3 id="methods_seturlapi">setUrlApi(url)</h3>
<div class="seturlapi"><div class="seturlapi-page"><p>Permet de spécifier l&#39;URL d&#39;appel à l&#39;API</p>
</div><h5 id="methods_seturlapi_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>url</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="seturlapi-page"><p>L&#39;URL correspondant à l&#39;API (ex : https:x.com:port)</p>
</div></td></tr></tbody></table></div>
</li>
<li><h3 id="methods_seturlimages">setUrlImages(url)</h3>
<div class="seturlimages"><div class="seturlimages-page"><p>Permet de spécifier l&#39;URL pour accéder aux imags</p>
</div><h5 id="methods_seturlimages_parameters">Parameters</h5><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>url</td><td><a href="" class="label type-hint type-hint-string">String</a></td><td><div class="seturlimages-page"><p>L&#39;URL correspondant au serveur d&#39;image (ex : https:x.com:port)</p>
</div></td></tr></tbody></table></div>
</li>
</ul>
</div>
</div>
