<h1><code ng:non-bindable="">flagSelector</code>
<div><span class="hint">directive in module <code ng:non-bindable="">panelAdminApp</code>
</span>
</div>
</h1>
<div><h2 id="description">Description</h2>
<div class="description"><div class="paneladminapp-directive-page paneladminapp-directive-flagselector-page"><p>Cette directive est chargée d&#39;afficher une liste de pays avec drapeaux associés et la possibilité d&#39;en sélectionner un</p>
</div></div>
<h2 id="usage">Usage</h2>
<div class="usage">as element:<pre class="prettyprint linenums">&lt;flag-selector
       selection="{Object}"&gt;
&lt;/flag-selector&gt;</pre>
<h3 id="usage_directive-info">Directive info</h3>
<div class="directive-info"><ul><li>This directive creates new scope.</li>
</ul>
</div>
<h4 id="usage_directive-info_parameters">Parameters</h4><table class="variables-matrix table table-bordered table-striped"><thead><tr><th>Param</th><th>Type</th><th>Details</th></tr></thead><tbody><tr><td>selection</td><td><a href="" class="label type-hint type-hint-object">Object</a></td><td><div class="paneladminapp-directive-page paneladminapp-directive-flagselector-page"><p>(read-only) Le pays sélectionné actuellement</p>
</div></td></tr></tbody></table></div>
</div>
