<div id="container-authentification" class="container container-auth">

	<alert role="alert" ng-repeat="alerte in alertes" type="{{alerte.type}}" close="fermerAlerte($index)">{{alerte.msg}}</alert>
	
	<div id="conteneur-form">
	
		<form role="form" novalidate>
		
			<h2 class="form-signin-heading">Veuillez vous authentifier</h2>
			
			<div class="form-group">
				<label for="login">Identifiant : </label>
				<input type="text" name="login" placeholder="Identifiant" class="form-control" ng-model="infosConnexion.login" required autofocus>
			</div>
		
			<div class="form-group">
				<label for="password">Mot de passe : </label>
				<input type="password" name="password" placeholder="Mot de passe" class="form-control" ng-model="infosConnexion.password" required>
			</div>
		
			<button type="button" ng-click="lancerConnexion()" ng-disabled="!authOk()" class="btn btn-primary btn-lg btn-block">Se connecter</button>
		
		</form>
	
	</div>
	
</div>
