<div class="row">
	<div class="jumbotron">
		<div>
			<img src="images/logo.png" height="55px" alt="Logo"/>
			<h1 style="display: inline-block;vertical-align:middle;">Administration AceCream</h1>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<div class="alert alert-warning" role="alert" ng-if="stadeTournoi === 'SETTING-UP'">Si vous passez à l'étape suivant du tournoi vous ne pourrez plus modifier les joueurs ni les équipes</div>
		
		<div class="panel panel-default">
			<table class="table table-striped table-bordered">
				<tr>
					<th colspan="2" class="text-center">
						Informations
					</th>
				</tr>
				<tr>
					<td>
						<a ng-href="#/joueurs">Nombre de joueurs renseignés</a>
					</td>
					<td class="text-center">
						{{nbJoueurs()}}
					</td>
				</tr>
			</table>
		</div>
		
		<div class="panel panel-default">
			<table class="table table-striped table-bordered">
				<tr>
					<th colspan="2" class="text-center">
						Requis
					</th>
				</tr>
				<tr>
					<td>
						<a ng-href="#/equipes">Équipes renseignées</a>
					</td>
					<td class="text-center">
						<span class="glyphicon" ng-class="{'glyphicon-ok-circle':equipesOk(), 'glyphicon-remove-circle':!equipesOk()}">
					</td>
				</tr>
				<tr>
					<td>
						<a ng-href="#/joueurs">Équipes complètes (Min. 2 hommes et 2 femmes)</a>
					</td>
					<td class="text-center">
						<span class="glyphicon" ng-class="{'glyphicon-ok-circle':joueursEquipesOk(), 'glyphicon-remove-circle':!joueursEquipesOk()}">
					</td>
				</tr>
				<tr>
					<td>
						<a ng-href="#/tirage">Tirage effectué</a>
					</td>
					<td class="text-center">
						<span class="glyphicon" ng-class="{'glyphicon-ok-circle':tirageOk(), 'glyphicon-remove-circle':!tirageOk()}">
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-md-6 col-md-offset-3 text-center">
		<div class="btn-group" role="group">
			<button type="button" ng-click="changerEtapeTournoi()" ng-disabled="!changerEtapeOk()" class="btn btn-primary btn-md">Passer à l'étape suivante de la compétition</button>
			<button type="button" ng-click="rafraichir()" class="btn btn-default btn-md">
				<span class="glyphicon glyphicon-refresh"></span>
			</button>
		</div>
	</div>
</div>
