<div id="container-matchs" class="container-fluid" chargement="chargement" local="false">

	<!-- Bouton pour changer la sélection du tour pour les matchs -->
	<div class="row">
		<div class="pull-right">
			Choix du tour : 
			<list-selector entrees="entreesTours" champs-nom="nom" choix="choixTour" design="bouton-select-tour"></list-selector>
			<a ng-href="{{getExport()}}" alt="export">
				<button type="button" class="btn btn-default">
					<span class="glyphicon glyphicon-export" aria-hidden="true"></span>
				</button>
			</a>
		</div>
	</div>
	<div class="row top-space">
		<!-- Supermatch -->
		<div ng-repeat="supermatch in superMatchs">
			<div class="row">
				<div class="well col-md-10 col-md-offset-1 well">
					<div class="col-md-4">
						<div class="pull-right">
							{{supermatch.teamNameA}}
						</div>
					</div>
					<div class="col-md-1">
						<div class="pull-right">
							<img class="bordure-image drapeau-texte" ng-src="{{supermatch.teamFlagA}}" alt="{{supermatch.teamNameA}}">
						</div>
					</div>
					<div class="col-md-2 text-center">
					VS
					</div>
					<div class="col-md-1">
						<div class="pull-left">
							<img class="bordure-image drapeau-texte"s ng-src="{{supermatch.teamFlagB}}" alt="{{supermatch.teamNameB}}">
						</div>
					</div>
					<div class="col-md-4">
						{{supermatch.teamNameB}}
					</div>
				</div>
			</div>
		
			<!-- Matchs -->
			<div class="row">
				<div class="col-md-10 col-md-offset-1">
					<accordion close-others="true">
						<onglet-match ng-repeat="match in supermatch.matches" match="match"></onglet-match>
					</accordion>
				</div>
			</div>	
		</div>
	</div>
</div>
