<div id="container-tirage" class="container-fluid">

	<div class="row" chargement="chargement" local="false">
		
		<!-- Colonne des drapeaux -->
		<div class="col-sm-6 text-center">
		
			<p> Équipes </p>
			
			<div class="drapeaux-drop" jqyoui-droppable="{multiple:true, onDrop:majTirage()}" data-drop="true" ng-model="equipes">
				<div ng-repeat="equipe in equipes" >
					<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="equipes" ng-if="equipe.URL" jqyoui-draggable="{index: {{$index}}}" data-jqyoui-options="{revert: 'invalid'}">
						<img ng-src="{{equipe.URL}}" alt="{{equipe.CompleteName}}" class="drapeau-tirage" />
					</div>
				</div>
			</div>
		</div>
	
		<!-- Colonne de la grille du tirage -->
		<div class="col-sm-6 text-center">
	
			<!-- Ensemble du tirage -->
			<div class="container-rencontre">

				<!-- Quadruple rencontre -->
				<div class="container-rencontre">
			
					<div>
						<!-- Double rencontre -->
						<div class="container-rencontre">
	
							<!-- Equipe 1 vs Equipe 2 -->
							<div>
								<div class="container-rencontre">
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 0}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 0, placeholder:true}" ng-if="!objectEmpty(tirage[0])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[0].URL}}" alt="{{tirage[0].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 1}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 1, placeholder:true}" ng-if="!objectEmpty(tirage[1])" data-jqyoui-options="{revert: 'invalid'}">

												<img ng-src="{{tirage[1].URL}}" alt="{{tirage[1].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
								</div>
								<div class="ligne-rencontre ligne-rencontre-1">
								</div>
							</div>
						
							<!-- Equipe 3 vs Equipe 4 -->
							<div>
<div class="container-rencontre">
								<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 2}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 2, placeholder:true}" ng-if="!objectEmpty(tirage[2])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[2].URL}}" alt="{{tirage[2].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 3}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 3, placeholder:true}" ng-if="!objectEmpty(tirage[3])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[3].URL}}" alt="{{tirage[3].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
								</div>
								<div class="ligne-rencontre ligne-rencontre-1">
								</div>
							</div>
						</div>
						<!-- Fin double rencontre -->
						<div class="ligne-rencontre ligne-rencontre-2"></div>
					</div>
					<div>
						<!-- Double rencontre -->
						<div class="container-rencontre">
	
							<!-- Equipe 5 vs Equipe 6 -->
							<div>
								<div class="container-rencontre">
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 4}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 4, placeholder:true}" ng-if="!objectEmpty(tirage[4])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[4].URL}}" alt="{{tirage[4].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 5}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 5, placeholder:true}" ng-if="!objectEmpty(tirage[5])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[5].URL}}" alt="{{tirage[5].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
								</div>
								<div class="ligne-rencontre ligne-rencontre-1">
								</div>
							</div>

							<!-- Equipe 7 vs Equipe 8 -->
							<div>
								<div class="container-rencontre">
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 6}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 6, placeholder:true}" ng-if="!objectEmpty(tirage[6])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[6].URL}}" alt="{{tirage[6].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
									<div class="emplacement-drop" data-drop="true" jqyoui-droppable="{index: 7}" ng-model="tirage">
										<div class="emplacement-tirage emplacement-tirage-rempli" data-drag="true" ng-model="tirage" jqyoui-draggable="{index: 7, placeholder:true}" ng-if="!objectEmpty(tirage[7])" data-jqyoui-options="{revert: 'invalid'}">

											<img ng-src="{{tirage[7].URL}}" alt="{{tirage[7].CompleteName}}" class="drapeau-tirage" />
										</div>
									</div>
								</div>
								<div class="ligne-rencontre ligne-rencontre-1">
								</div>
							</div>
						</div>
						<!-- Fin double rencontre -->
	
						<div class="ligne-rencontre ligne-rencontre-2">
						</div>
					</div>
				</div>
				<div class="ligne-rencontre ligne-rencontre-3">
				</div>
			</div>
			<div class="ligne-finale">
			</div>
		</div>
	</div>
</div>
